@page "/dashboard"
@inject IJSRuntime js



<h3>Dashboard</h3>

<button @onclick="@(()=> Click("PieChart"))">Pie</button>
<button @onclick="@(()=> Click("BarChart"))">Bar</button>

<div id="chartDiv"></div>

@code {


    private async Task Click(string type)
    {
       // var module = await js.InvokeAsync<IJSObjectReference>("import", "./Pages/Dashboard.razor.js");
        await js.InvokeVoidAsync("getChart", type);
    }

    protected override async Task OnInitializedAsync()
    {
        await js.InvokeVoidAsync("getChart", "PieChart");
    }

}
