@page "/dashboard"

@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime



@*<div class="card" style="border-radius:15px;">
    <div class="card-body">
       <img src="Images/dic.jpg" style="height:50px;width:50px">
    </div>
</div>
<br>*@
<div class="card shadow-lg" style="height:250px;border-radius:15px;">

                <div class="container-fluid pt-4 px-4">
                    <h6 style="color:black;text-align:left;border-radius:20px;"><b>Wastate Type</b></h6>
<div class="row">
    <div class="col-sm-5 col-xl-3">
        <div class="card">
                    <div class="card-body">
                <b class="card-title">Billed FTC higher than TC</b>
                <b class="card-text">1,880</b>
                <p class="card-title">Excess FTC (sec) </p>
                 <b class="card-text">2M</b>
                <p class="card-title">Monetary Impact(INR) </p>
            </div>
        </div>
    </div>
    <div class="col-sm-5  col-xl-3">
        <div class="card">
                    <div class="card-body">
                        <b class="card-title">Net monetary impact of time band mismatch</b>
              <br>
                        <b class="card-text">6M</b>
                        <p class="card-title">Net monetary impact(INR) </p>
            </div>
        </div>
    </div>
    <div class="col-sm-5 col-xl-3">
        <div class="card">
                    <div class="card-body" >
                        <b class="card-title">Fringe Secondagrs</b>
                <b class="card-text">1,780</b>
                <p class="card-title">Fring FTC (sec) </p>
                 <b class="card-text">2M</b>
                        <p class="card-title">Fringe Wastage(INR) </p>
            </div>
        </div>
    </div>
    <div class="col-sm-5 col-xl-3">
        <div class="card">
                    <div class="card-body">
                        <b class="card-title">Billed ERhigher than deal</b>
                <b class="card-text">1,880</b>
                        <p class="card-title"> FTC for higher rate </p>
                 <b class="card-text">2M</b>
                        <p class="card-title">Excess Speed Higher Rate </p>
            </div>
        </div>

    </div>

</div>
    </div>

</div>
<div id="chart" style="height: 200px; width: 100%;"></div>



@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        await GenerateChart();
    }

    private async Task GenerateChart()
    {
        try
        {


            await JSRuntime.InvokeVoidAsync("mycolunmchart");




        }
        catch (Exception ex)
        {

        }
    }


}
@*<h3>Dashboard</h3>

<button @onclick="@(()=> Click("PieChart"))">Pie</button>
<button @onclick="@(()=> Click("BarChart"))">Bar</button>

<div id="chartDiv"></div>

@code {


    private async Task Click(string type)
    {
       // var module = await js.InvokeAsync<IJSObjectReference>("import", "./Pages/Dashboard.razor.js");
        await js.InvokeVoidAsync("getChart", type);
    }

    protected override async Task OnInitializedAsync()
    {
        await js.InvokeVoidAsync("getChart", "PieChart");
    }

}
*@