@page "/fetchdata"
@using CDPModule1.Shared;
@layout MainLayout2
@inject HttpClient Http

<div class="card" style="border-radius:15px;">
    <div class="card-body">
       <img src="Images/dic.jpg" style="height:50px;width:50px">
    </div>
</div>
<div class="card shadow-lg" style="height:250px;border-radius:15px;">
 
                <div class="container-fluid pt-4 px-4">
                    <h6 style="color:black;text-align:left;border-radius:20px;"><b>Wastate Type</b></h6>
<div class="row">
    <div class="col-sm-5 col-xl-3">
        <div class="card">
                    <div class="card-body">
                <b class="card-title">Billed FTC higher than TC</b>
                <b class="card-text">1,880</b>
                <p class="card-title">Excess FTC (sec) </p>
                 <b class="card-text">2M</b>
                <p class="card-title">Monetary Impact(INR) </p>
            </div>
        </div>
    </div>
    <div class="col-sm-5  col-xl-3">
        <div class="card">
                    <div class="card-body">
                <b class="card-title">Billed FTC higher than TC</b>
                <b class="card-text">1,880</b>
                <p class="card-title">Excess FTC (sec) </p>
                <b class="card-text">2M</b>
                <p class="card-title">Monetary Impact(INR) </p>
            </div>
        </div>
    </div>
    <div class="col-sm-5 col-xl-3">
        <div class="card">
                    <div class="card-body" >
                <b class="card-title">Billed FTC higher than TC</b>
                <b class="card-text">1,880</b>
                <p class="card-title">Excess FTC (sec) </p>
                 <b class="card-text">2M</b>
                <p class="card-title">Monetary Impact(INR) </p>
            </div>
        </div>
    </div>
    <div class="col-sm-5 col-xl-3">
        <div class="card">
                    <div class="card-body">
                <b class="card-title">Billed FTC higher than TC</b>
                <b class="card-text">1,880</b>
                <p class="card-title">Excess FTC (sec) </p>
                 <b class="card-text">2M</b>
                <p class="card-title">Monetary Impact(INR) </p>
            </div>
        </div>
       
    </div>

</div>
    </div>

</div>
@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
    }
}
