@page "/"
@inject HttpClient Http
@inject IJSRuntime JS
@using System.Text;
@using CDPModule1.Client.Services;
@using CDPModule1.Shared;
@using GrapeCity.Documents.Pdf;
@using GrapeCity.Documents.Pdf.TextMap;
@using System.Net.Http.Headers;
@using iText.Kernel.Pdf;
@using iText.Kernel.Pdf.Canvas.Parser.Listener;
@using iText.Kernel.Pdf.Canvas.Parser;
@inject HttpClient httpClient
@inject ILocalStorageService localStorageService;


<h3>Settings</h3>

<div>
    <input type="text" name="name" id="templateName" placeholder="Template Name" />
    <br/>

    <h1>Upload File </h1>
    <InputFile OnChange="@uploadPdfNew" id="FileUpload1" />
   
    <select id="valueType">
        <option value="1">Dynamic</option>
        <option value="2">Static</option>
    </select>
    <select id="valueType">
        <option value="invoicedate">Invoice Date</option>
        <option value="pannumber">Pan number</option>
        <option value="addresss">Address</option>
        <option value="addresss">Refrence number</option>
    </select>
    <button>Map Property</button>
    <button onclick="insertData()">Save</button>
    <input type="text" name="name" placeholder="select a value" id="propText" />
</div>



<label>Html upload data ..</label>

@((MarkupString)@htmlCode.Replace("\r\n", "<br />"));




@code {

    private List<UploadResult> uploadResults = new();
    [Parameter]
    public string htmlCode { get; set; } = string.Empty;

    public int dataTypeSelected = 2;

    public string staticData = string.Empty;

    public List<string> DataTypeList = new List<string> { 1.ToString(), 2.ToString() };

    public async Task uploadPdfNew(InputFileChangeEventArgs inputFileChangeEvent)
    {
        try
        {
            var file = inputFileChangeEvent.File;
            byte[] buffer = new byte[file.Size];
            await file.OpenReadStream().ReadAsync(buffer);
            string base64 = Convert.ToBase64String(buffer);
            using var dataContent = new MultipartFormDataContent();


            httpClient.DefaultRequestHeaders.Clear();
            string token = await localStorageService.GetItem<string>("token");
            httpClient.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);
            httpClient.DefaultRequestHeaders.Add("ContentType", "application/json");

            var content = new FileResultContent
                {
                    base64Content = base64,
                    fileExt = "pdf",
                    existingFileName = file.Name,
                    newFileName = Path.GetRandomFileName().Split('.')[0]

                };
            var res = await httpClient.PostAsJsonAsync("api/File/uploadPdf", content);
            string responseModal = await res.Content.ReadAsStringAsync();
            if (!string.IsNullOrEmpty(responseModal))
            {
                htmlCode = responseModal;
            }


        }
        catch (Exception ex)
        {
            Console.WriteLine("error");
            htmlCode = "Error in api";
        }
    }
}