@page "/"

<div>
    <h1>Upload File </h1>
    <InputFile onclick="@uploadFile" />
</div>

@code{
    public void uploadFile(InputFileChangeEventArgs  inputFileChangeEvent)
    {
        var file = inputFileChangeEvent.File;
        byte[] buffer = new byte[file.Size];
        file.OpenReadStream().Read(buffer);
        string base64 = Convert.ToBase64String(buffer);
    }
}