@page "/Selection_page"
@layout LoginLayout


<div class="card text-center" >
    <div class="card-header">
        Modules
    </div>
    <div class="card-body">
        
        <div class="row">
            <div class="card shadow col-3 mx-auto">
                <div class="card-body">
                    <h6>TV Media Invoid Verification & Implementation Analysis</h6>
                    
                </div>
                <div card="card-footer">
                    <a href="/" class="btn btn-primary mb-3"> Select </a>
                </div>
            </div>
            <div class="card shadow col-3 mx-auto">
                <div class="card-body">
                    <h6>Media Planning Analysis</h6>
                    
                </div>
                <div card="card-footer">
                    <a href="fetchdata" class="btn btn-primary mb-3"> Select </a>
                </div>
            </div>
            <div class="card shadow col-3 mx-auto">
                <div class="card-body">
                    <h6>CADMUS</h6>
                  
                </div>
                <div card="card-footer">
                    <a href="campaign-base" class="btn btn-primary mb-3"> Select </a>
                </div>
            </div>
        </div>
    </div>
    
</div>

@code {

}
