@page "/"
@inject HttpClient Http
@inject IJSRuntime JS
@using System.Text;
@using CDPModule1.Client.Services;
@using CDPModule1.Shared;
@using GrapeCity.Documents.Pdf;
@using GrapeCity.Documents.Pdf.TextMap;
@using System.Net.Http.Headers;
@using iText.Kernel.Pdf;
@using iText.Kernel.Pdf.Canvas.Parser.Listener;
@using iText.Kernel.Pdf.Canvas.Parser;
@using static CDPModule1.Client.Services.EnumService;
@inject HttpClient httpClient
@inject ILocalStorageService localStorageService;
@inject IApiService ApiService;

<h1>Upload File </h1>
<div class="row m-1">
    <label class="col-2">Select File :</label>
    <InputFile OnChange="@uploadPdfNew" id="FileUpload1" class="col-9" />
</div>

<button type="button" @onclick="() =>insertData()" class="btn btn-success m-1">Save</button>



@code {

    public List<List<string>> Data { get; set; }

    public async void insertData()
    {
        try
        {
            List<AgencyInvoiceData> lstAgd = new List<AgencyInvoiceData>();
            if (Data.Count > 0)
            {
                foreach (List<string> list in Data)
                {
                    string[] a = list.ToArray();
                    if (list.Count < 8)
                    {
                        AgencyInvoiceData agd = new AgencyInvoiceData
                            {
                                Program = a[0].ToString(),
                                Channel = a[6].ToString(),
                                Day = a[3].ToString(),
                                //Time = new TimeSpan(int.Parse(a[4].Split(":")[0]), int.Parse(a[4].Split(":")[1]), int.Parse(a[4].Split(":")[2])),
                                //NetRate = Int32.Parse(a[5]),
                                Date = a[2].ToString()

                            };

                        lstAgd.Add(agd);
                    }
                }
                HttpResponseMessage result = await ApiService.PostWithAuthAsync("api/File/SaveFile", lstAgd);
                ResponseModal? response = await result.Content.ReadFromJsonAsync<ResponseModal>();
            }
        }catch(Exception e)
        {
            throw e;
        }
    }

    public async Task uploadPdfNew(InputFileChangeEventArgs inputFileChangeEvent)
    {
        try
        {
            var file = inputFileChangeEvent.File;
            byte[] buffer = new byte[file.Size];
            await file.OpenReadStream().ReadAsync(buffer);
            string base64 = Convert.ToBase64String(buffer);
            using var dataContent = new MultipartFormDataContent();


            httpClient.DefaultRequestHeaders.Clear();
            string token = await localStorageService.GetItem<string>("token");
            httpClient.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);
            httpClient.DefaultRequestHeaders.Add("ContentType", "application/json");

            var content = new FileResultContent
                {
                    base64Content = base64,
                    fileExt = "pdf",
                    existingFileName = file.Name,
                    newFileName = Path.GetRandomFileName().Split('.')[0]

                };
            HttpResponseMessage result = await httpClient.PostAsJsonAsync("api/File/uploadPdf", content);
            DataResponseModal? responseModal = await result.Content.ReadFromJsonAsync<DataResponseModal>();

            Data = responseModal.Data;

        }
        catch (Exception ex)
        {
            Console.WriteLine("error");
        }
    }
}