@inherits LayoutComponentBase

@page "/forgotPassword"
<h3>ForgotPassword</h3>

@code {
    [Parameter]
    public string Email { get; set; }

    protected async void OnInitiatedAsync()
    {
        Console.WriteLine(Email);
    }
}
